<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Holiday Update!</title>
    <style type="text/css">
        body {
              background: #54667a;
             }
        div#content {
                      width: 80%;
                      margin: 0 auto;
                      background: #54667a;
                      padding: 30px;
                      margin-top: 5%;
                      color: #fff;
                    }
        h1 {
            font-family: "Dosis", sans-serif;
            font-size: 36px;
            line-height: 1;
            font-weight: 700;
            text-align: center;
           }
        h3 {
            font-family: "Dosis", sans-serif;
            font-size: 22px;
            line-height: 1;
            font-weight: 400;
            text-align: center;
            }
        p {
            font-family: "Karla", sans-serif;
            font-weight: normal;
            font-size: 1.2rem;
            line-height: 1.6;
            margin-bottom: 1.25rem;
            text-rendering: optimizeLegibility;
          }
        p.center-info {
                        text-align: center;
                      }
    </style>
  </head>
  <body>
    <div id='content'>
      <h1><h1>Hi Mom & Paulina!</h1></h1>

      <h3>I just want to let you know that the system will be a little slow due to the holidays and processing time might lag because some people are taking vacations! Please be patient and we will be back up to speed as quickly as possible! If there is an urgent request, and y'all can't hold your shit in, just pick up the phone, dial my number, and I'll get shit done for you! Otherwise, I love you both <3</h3>

      <br>

      <p>
        Prayer is the soul’s sincere desire,<br>
        Uttered or unexpressed,<br>
        The motion of a hidden fire <br>
        That trembles in the breast.<br><br>
        Prayer is the burden of a sigh,<br>
        The falling of a tear,<br>
        The upward glancing of an eye,<br>
        When none but God is near.
      </p>

      <img src="https://s27.postimg.org/jtmkjr9n7/11909164_984632068225571_240272410_a.jpg" alt="">
    </div>
  </body>
</html>
