<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Update To Order</title>
    <style type="text/css">
        body {
              background: #54667a;
             }
        div#content {
                      width: 80%;
                      margin: 0 auto;
                      background: #54667a;
                      padding: 30px;
                      margin-top: 5%;
                      color: #fff;
                    }
        h1 {
            font-family: "Dosis", sans-serif;
            font-size: 36px;
            line-height: 1;
            font-weight: 700;
            text-align: center;
           }
        h3 {
            font-family: "Dosis", sans-serif;
            font-size: 22px;
            line-height: 1;
            font-weight: 400;
            text-align: center;
            }
        p {
            font-family: "Karla", sans-serif;
            font-weight: normal;
            font-size: 1.2rem;
            line-height: 1.6;
            margin-bottom: 1.25rem;
            text-rendering: optimizeLegibility;
          }
        p.center-info {
                        text-align: center;
                      }
    </style>
  </head>
  <body>
    <div id='content'>
      <h1><h1>Hi Paulina!</h1></h1>

      <h3>An update to Order #<%= @order.order_number %> has been made. Please <a href="https://dx871scsd9.herokuapp.com/orders">login here</a> to view the updates and/or changes to each item in your order!</h3>

      <br>

      <p>
        pssssst! don't forget to support me by tellin all your friends to get they shit 2gether and buy sum men in black, homeland, and ray donovan! One nation under the all high. Pray and u shall receive. U been hooked da FUK up FAM!
      </p>

      <img src="https://s28.postimg.org/wwmkcrfwd/11910242_1683287715242209_15883329_n.jpg" alt="">
    </div>
  </body>
</html>
